/* -------------------------------------Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* -------------------------------------Special Styling */


/* -------------------------------------HEADER SECTION */
.center {
    display: flex;    
    justify-content: center;
    object-fit: cover;
}

.paddy-day-header {
    font-size: 40px;
}

/* -------------------------------------Navbar */


/* -------------------------------------MAIN BODY STYLING */
body {    
    color: white;   
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.main-background {
    background-image: url(/assets/images/background-clover2.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: 'Lobster', cursive, sans-serif;    
}

#banner {
    width: 80%;
}
#leprechaun {
    width: 25%;
}

/* -------------------------------------Animations */




/* -------------------------------------Buttons */

.quitz-row button {
    width: 95%;
}

/* -------------------------------------FOOTER SECTION */
/* -------------------------------------Social Media Links */




/* -------------------------------------Media Queries */
/* -------------------------------------Responsive Design - TABLET */





/* -------------------------------------Responsive Design - MOBILE */
@media screen and (min-width: 991px) {
    #banner {
    width: 60%;
}
    #leprechaun {
    width: 20%;
}

}

